{% extends "app/base.html"%} {% load static %} {% block main-content %}
<style>
  footer {
    background-color: #f8f9fa;
  }
  .container-responsivegrid {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)),
      url('{% static "images/background.webp" %}');
    height: 600px;
    border-radius: 20px;
  }
  .responsivegrid {
    padding-top: 10%;
  }
  .responsivegrid .title {
    width: 50%;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:hover,
  a:visited {
    color: black;
  }
  .container-product .col-4 {
    max-width: calc(33.33% - 10px);
  }
  .grooves {
    gap: 10px;
  }
  .img-component {
    width: 270px;
    height: 270px;
  }
  .img-brand {
    width: 180px;
    height: 180px;
  }
  .btn-brand {
    width: 240px;
    height: 240px;
    transition: box-shadow 0.5s ease-in-out;
    background-color: #f8f9fa;
    margin: 20px;
    margin-top: 5px;
    border-radius: 10%;
  }

  .btn-brand:hover {
    width: 250px;
    height: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
  }
  .card-img-top {
    cursor: pointer;
  }
</style>
<div class="container container-responsivegrid mt-4">
  <div class="row no-gutters">
    <div class="col-12 responsivegrid pl-5">
      <div class="title">
        <h1 class="font-weight-bolder text-white pb-2">
          Sứ mệnh của Coco là đổi mới thế giới và làm nên sự khác biệt
        </h1>
        <p class="text-white pb-2">
          Coco tạo ra các thương hiệu và nước giải khát được mọi người yêu thích
          và khơi gợi cảm hứng về cả thể chất lẫn tinh thần, đồng thời phát
          triển thương hiệu bền vững hướng đến một tương lai chung tốt đẹp hơn.
        </p>
        <button
          type="button"
          class="btn btn-light rounded-pill font-weight-bolder"
        >
          Thông tin công ty Coco
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container container-product pt-4 pb-4">
  <div class="title-product row justify-content-center pt-4">
    <h2 class="font-weight-bolder pb-4">Sản phẩm nổi bật</h2>
  </div>
  <div class="row no-gutters grooves d-flex">
    {% for product in products %} {% if forloop.counter <= 6 %}
    <div class="col-4" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)">
      <div class="card" data-id="{{ product.id }}">
        <img class="card-img-top" src="{{product.ImageURL}}" />
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="price">${{product.price | floatformat:2}}</p>
          <a href="{% url 'product' %}" class="btn btn-outline-dark"
            >Xem thêm</a
          >
          <a
            data-product="{{product.id}}"
            data-action="add"
            class="btn btn-outline-dark update-cart"
            style="float: right"
            >Thêm vào giỏ</a
          >
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
<div class="container container-service">
  <div class="row">
    <div class="col-12 popular-service">
      <div class="title-service row justify-content-center pt-4">
        <h2 class="font-weight-bolder pb-4">Dịch vụ phổ biến</h2>
      </div>
    </div>
    <div class="body-service row col-12">
      <div class="col-6">
        <div class="card">
          <img
            src="{% static 'images/service.webp' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class>Để từng khoảnh khắc trong cuộc sống tràn đầy ý nghĩa</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="">
              <h4 class="">Tìm hiểu các nhãn hàng của Coco</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <img
            src="{% static 'images/cc.webp' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class>
              Vì Một Thế Giới Không Rác Thải, hãy hành động từng bước cùng chúng
              tôi!
            </h5>
            <p class="card-text">
              Chúng tôi góp phần giải quyết các vấn đề về bao bì thông qua việc
              đầu tư vào môi trường và quy trình đóng gói
            </p>
            <a href="#" class="">
              <h4 class="">Sáng kiến phát triển bao bì bền vững</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container container-discover pt-5 text-center">
  <div class="title-discover">
    <h2 class="font-weight-bolder pb-4">
      Khám phá các thương hiệu của chúng tôi
    </h2>
  </div>
  <div
    class="row"
    style="width: 75%; margin: 0 auto; display: flex; justify-content: center"
  >
    <div class="img-component col-4">
      <button class="btn btn-brand">
        <img class="img-brand" src="{% static 'images/10.webp' %}" />
      </button>
    </div>
    <div class="img-component col-4">
      <button class="btn btn-brand">
        <img class="img-brand" src="{% static 'images/2.webp' %}" />
      </button>
    </div>
    <div class="img-component col-4">
      <button class="btn btn-brand">
        <img class="img-brand" src="{% static 'images/3.webp' %}" />
      </button>
    </div>
    <div class="img-component col-4">
      <button class="btn btn-brand">
        <img class="img-brand" src="{% static 'images/4.webp' %}" />
      </button>
    </div>
    <div class="img-component col-4">
      <button class="btn btn-brand">
        <img class="img-brand" src="{% static 'images/5.webp' %}" />
      </button>
    </div>
    <div class="img-component col-4">
      <button class="btn btn-brand">
        <img class="img-brand" src="{% static 'images/6.webp' %}" />
      </button>
    </div>
  </div>
</div>

<footer class="text-lg-start bg-body-tertiary text-muted mt-4">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="mx-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="mx-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="mx-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="mx-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="mx-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="mx-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="mx-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem mr-3"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Products</h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope mr-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Coco.com</a>
  </div>
  <!-- Copyright -->
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const productImages = document.querySelectorAll(".card-img-top");

    productImages.forEach((image) => {
      image.addEventListener("click", function () {
        const productId = this.closest(".card").dataset.id;
        if (productId) {
          const productDetailUrl = `/product_detail/${productId}/`;
          window.location.href = productDetailUrl;
        } else {
          console.error("Product ID not found");
        }
      });
    });
  });
</script>

{% endblock main-content %}
