{% extends "app/base.html"%} {% load static %} {% block profile-content %}
<br />

<style>
  footer {
    background-color: #f8f9fa;
  }
  .container-profile {
    background-color: #f8f9fa;
  }
  .title-profile {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  }
  .content-profile {
    border-right: 0.5px solid rgba(0, 0, 0, 0.1);
  }
  .form-control {
    width: 70%;
  }
  .css-form {
    width: 100%;
  }
  label {
    width: 20%;
  }
  input[type="file"] {
    display: none;
  }

  .custom-file-upload label {
    background-color: #f2f2f2;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
  }
  .img-profile {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }
</style>
<div class="container container-profile rounded mt-4">
  <div class="row no-gutters">
    <div class="col-12 title-profile pt-3">
      <h4 class="">Hồ Sơ Của Tôi</h4>
      <p class="">Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
    </div>
    <form
      enctype="multipart/form-data"
      method="POST"
      action=""
      class="css-form d-flex"
    >
      <div class="col-8 content-profile mt-3">
        <div class="content-cpmponent">
          {% csrf_token %}{% if request.user.is_authenticated %}
          <div class="col-12 form-group">
            <label>Tên đăng nhập:</label>
            {{request.user}}
          </div>
          <div class="col-12 form-group d-flex">
            <label for="{{ form.username.id_for_label }}">Tên:</label>
            {{ request.user.first_name }} {{ request.user.last_name }}
          </div>
          <div class="col-12 form-group d-flex">
            <label>Email:</label>
            {{request.user.email}}
          </div>

          <div class="col-12 form-group d-flex gender">
            <label>Ngày tham gia:</label>
            {{request.user.date_joined}}
          </div>

          <div class="save-profile text-center pb-4">
            <button type="submit" class="btn btn-secondary">Lưu</button>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="col-4 mt-3 text-center">
        {% if avatar_url %}
        <img class="img-profile" src="{{ MEDIA_URL }}{{ avatar_url }}" />
        {% endif %}
        <div class="custom-file-upload pt-3">
          <input
            type="file"
            name="files"
            id="name"
            required
            value="{{ MEDIA_URL }}images/files/"
          />
          <label for="name">Chọn ảnh</label>
        </div>
      </div>
    </form>
  </div>
</div>

<footer class="text-lg-start fixed-bottom bg-body-tertiary text-muted mt-4">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="mx-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="mx-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="mx-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="mx-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="mx-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="mx-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="mx-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem mr-3"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Products</h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope mr-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Coco.com</a>
  </div>
  <!-- Copyright -->
</footer>

{% endblock profile-content %}
